logKindFlag:            ESMF_LOGKIND_MULTI
globalResourceControl:  .true.

ESMX_log_flush:        .true.
#ESMX_field_dictionary: ./fd.yaml

ESMX_component_list:   MDL
ESMX_attributes::
  Verbosity = high
::

MDL_model:            fire_behavior_nuopc
#MDL_petlist:          1 3
MDL_attributes::
  Verbosity = high
::

startTime:  2012-10-24T18:00:00
stopTime:   2012-10-24T19:00:00

runSeq::
  @*
    MDL
  @
::